#zebraGomoku {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    background: #2C9A2C;
    border: 5px solid #000;
    font-family: Tahoma, Arial;
    font-size: 11px;
    table-layout: fixed;
}

#zebraGomoku td {
    border: 1px solid #000;
    text-align: center;
    color: #006600;
    cursor: pointer;
}

#zebraGomoku td div {
    width: 85%;
    height: 85%;
    margin: 0 auto;
    display: table;
}

#zebraGomoku td div span {
    display: table-cell;
    border-radius:50%;
    vertical-align: middle;
}

#zebraGomoku td.p0 span {
    background: #FFF;
    color: #000;
}

#zebraGomoku td.p1 span {
    background: #000;
    color: #FFF;
}